.Product {
	background-color: #A9C9DD;
	margin: 0 25px;
}

.Product > .Media {
	height: 225px;
}

.Product > .Media img {
	width: 225px;
	height: 225px;
}

.Product > .Info {
	padding: 15px;
	height: 145px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.Product > .Info > .Title {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 12px;
}

.Product > .Info > .Price {
	padding-bottom: 3px;
}
.Product > .Info > .Price > .Amount {
	font-weight: 600;
}

.Product > .Info > .Quantity {
	color: red;
	font-style: italic;
}
.Product > .Info > .Quantity > .Number {
	font-weight: 600;
}

.Product > .Info > .Button {
	align-self: center;
	margin-top: 15px;
}
.Product > .Info > .Button > input {
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}

/* UI */
.checked {
	background-color: #02B3CE;
}