.ProductsList {
	margin: 25px;
}

.Name {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	color: #fff;
}

.Products {
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 35px;
}